/* Footer Section */
.footer {
  margin: 50px 170px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
  color: white;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-top-left {
  font-size: 20px;
  max-width: 400px;
}

.footer-top-right {
  display: flex;
  align-items: center;
  gap: 35px;
}

.footer-email-input {
  display: flex;
  gap: 30px;
  padding: 20px 30px;
  border-radius: 50px;
  background: #32323B;
  padding-right: 80px;
}

.footer-email-input input {
  outline: none;
  border: none;
  background: transparent;
  color: aliceblue;
  font-family: outfit;
  font-size: 18px;
}

.footer-subscribe {
  font-size: 20px;
  padding: 22px 50px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #B415FF 106.28%);
  cursor: pointer;
  transition: 0.3s;
}

hr {
  border: 1px solid #333;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  height: 150px;
}

.footer-bottom-right {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}

.footer-email-input:hover {
  border: 2px solid white;
}

.footer-subscribe:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

/* Social Icons */
.social-login-icons {
  display: flex;
  align-items: center;
  gap: 6px;
  -webkit-box-reflect: below 5px linear-gradient(transparent, #00000055);
  cursor: pointer;
}

.social-login-icons svg {
  width: 40px;
}

.social-icon-1,
.social-icon-1-1,
.social-icon-2,
.social-icon-2-2,
.social-icon-3,
.social-icon-3-3,
.social-icon-4,
.social-icon-4-4 {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin: 20px 0 0px 0;
}

.icon svg {
  fill: white;
}

.socialcontainer {
  height: 80px;
  overflow: hidden;
}

.social-icon-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 0, 0);
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
}

.social-icon-1 svg,
.social-icon-2 svg,
.social-icon-3 svg,
.social-icon-4 svg {
  opacity: 0;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
}

.social-icon-1-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 0, 0, 0);
}

.socialcontainer:hover .social-icon-1 {
  transform: translateY(-70px);
}

.socialcontainer:hover .social-icon-1 svg,
.socialcontainer:hover .social-icon-2 svg,
.socialcontainer:hover .social-icon-3 svg,
.socialcontainer:hover .social-icon-4 svg {
  opacity: 1;
}

.social-icon-2 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: linear-gradient(72.44deg, #ff7a00 11.92%, #ff0169 51.56%, #d300c5 85.69%);
}

.socialcontainer:hover .social-icon-2 {
  transform: translateY(-70px);
}

.social-icon-3 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: #316ff6;
}

.socialcontainer:hover .social-icon-3 {
  transform: translateY(-70px);
}

.social-icon-4 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: linear-gradient(180deg, rgba(129, 34, 144, 1) 0%, rgba(77, 34, 124, 1) 91%);
}

.socialcontainer:hover .social-icon-4 {
  transform: translateY(-70px);
}

/* Mobile Responsiveness */
@media(max-width: 768px) {
  .footer {
      margin: 50px 70px;
  }

  .footer h1 {
      font-size: 50px;
      padding: 0;
  }

  .footer-top {
      flex-direction: column;
      gap: 50px;
  }

  .footer-top-left {
      font-size: 18px;
      max-width: none;
  }

  .footer-top-right {
      flex-direction: column;
      
      gap: 20px;
  }

  .footer-email-input {
      flex-direction: column;
      padding: 15px;
      padding-right: 30px;
  }

  .footer-email-input input {
      font-size: 16px;
  }

  .footer-subscribe {
      font-size: 18px;
      padding: 15px 30px;
  }

  .footer-bottom {
      flex-direction: column;
      align-items: center;
      font-size: 16px;
      gap: 20px;
  }

  .footer-bottom-right {
      gap: 20px;
  }

  .socialcontainer {
      height: auto;
  }

  .social-icon-1, .social-icon-2, .social-icon-3, .social-icon-4 {
      width: 35px;
      height: 35px;
  }

  .social-login-icons svg {
      width: 10px;
  }
}
